:root {
    --dark-blue: #283345;
    --gray: #a9adb4;
    --gray-shadow: #a9adb444; 
    --back-gray: #5e6b7e;
    --white: #fbfbfb;
    --white-shadow: #fbfbfbaa;
    --orange: #fc9406;
    --black: #00081c;
    --black-shadow: #00081caa;
}

body {
    height: 100vh;
    background-color: var(--back-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    /* box */
    width: 50vh;
    height: 80vh;
    background-color: var(--dark-blue);
    border-radius: 1.6rem;
    padding: 1rem;
    box-shadow: 0.05rem 0.05rem 0.4rem var(--black-shadow),
                -0.05rem -0.05rem 0.4rem var(--black-shadow); 
    /* text */
    color: var(--white);
    font-size: 4vh;
    font-family: Roboto, Arial, sans-serif;
    /* layout */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.screen {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

[data-value='0'] {
    grid-column: 1 / 3;
}

.btn {
    border-radius: 1.4rem;
    background-color: var(--dark-blue);
    box-shadow: 0.2rem 0.2rem 0.6rem var(--black-shadow),
                -0.2rem -0.2rem 0.6rem var(--gray-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.pressed {
    box-shadow: 0.1rem 0.1rem 0.4rem var(--black-shadow),
                -0.1rem -0.1rem 0.4rem var(--gray-shadow);
    font-weight: 900;
}

.clear,
.negative,
.percentage {
    color: var(--gray);
}

.clear.pressed,
.negative.pressed,
.percentage.pressed {
    color: var(--white);
}

.num {
    color: var(--white);
}

.num.pressed {
    color: var(--orange);
}

.op,
.equal {
    font-size: 5vh;
    color: var(--orange);
}

.op.pressed,
.equal.pressed {
    color: var(--white);
}
